<center>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card-body">
                <!--<h5 class="card-title">Visualización de imágenes</h5>-->
                <img src="/img/Realnieves3.jpeg" class="img-thumbnail popup" width="600">
                <br>
                <!--<p class="font-weight-bold" align="right">imágen(es)</p>-->
            </div>
        </div>
    </div>
</center>
<br>
<!-- TRANSPORTADORA -->
<center>
    <div id="conv" class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card-body">
                <!--<h5 class="card-title">Visualización de imágenes</h5>-->
                <img src="/img/Realnieves4.jpeg" class="img-thumbnail popup" width="600">
                <br>
                <!--<p class="font-weight-bold" align="right">imágen(es)</p>-->
            </div>
        </div>
    </div>
</center>
<center>
    <div class="justify-content">
        <div class="col-md-15 offset-md">
            <div class="card card-body text-start">
                <div class="jumbotron mt-4">
                    <div class="card-body">
                        <h4 class="font-weight-bold">Transportadora</h4>
                        <p class="lead">Transporte terrestre a nivel nacional y servicios de logística
                            para el movimieto de mercancías.</p>
                        <!--<label>Example label</label>-->
                        <hr class="my-4">
                        <h4 class="font-weight-bold">Contacto</h4>
                        <p class="lead"><i class="far fa-address-card"></i> Claudia Sánchez</p>
                        <p class="lead"><i class="far fa-envelope"></i> transportadorarealdenieves@yahoo.com.mx</p>
                        <p class="lead"><i class="far fa-phone-square-alt"></i> 498-100-95-65</p>
                        <hr class="my-4">
                        <h4 class="font-weight-bold">¿Quiénes somos?</h4>
                        <p class="lead">Somos una empresa dinámica y comprometida que cuenta con el respaldo y la
                            experiencia dentro del sector del transporte de carga en general.
                        </p>
                        <h4 class="font-weight-bold">Misión</h4>
                        <p class="lead">Proporcionar el equipo y personal adecuado para la operación de unidades de
                            transportes de mercancías garantizando un servicio de excelencia en calidad de tiempo y
                            seguridad.
                        <h4 class="font-weight-bold">Visión</h4>
                        <p class="lead">Ser una empresa de alto nivel en el servicio de transporte de carga a nivel
                            nacional, con la capacidad, la atención y el servicio que el cliente requiere.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</center>
<br>
<center>
    <div class="justify-content">
        <div class="col-md-15 offset-md">
            <div class="card card-body text-start">
                <div class="jumbotron mt-4">
                    <div class="card-body">
                        <h4 class="font-weight-bold">Valores</h4>
                        <p class="lead">Nuestros valores son:</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-info">Confianza</li>
                            <li class="list-group-item list-group-item-info">Seguridad</li>
                            <li class="list-group-item list-group-item-info">Transparencia</li>
                            <li class="list-group-item list-group-item-info">Responsabilidad</li>
                            <li class="list-group-item list-group-item-info">Trabajo en equipo</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
<br>
<!-- SEMILLAS -->
<center>
    <div id="se" class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card-body">
                <!--<h5 class="card-title">Visualización de imágenes</h5>-->
                <img src="/img/Realnieves1.jpeg" class="img-thumbnail popup" width="600">
                <br>
                <!--<p class="font-weight-bold" align="right">imágen(es)</p>-->
            </div>
        </div>
    </div>
</center>
<center>
    <div class="justify-content">
        <div class="col-md-15 offset-md">
            <div class="card card-body text-start">
                <div class="jumbotron mt-4">
                    <div class="card-body">
                        <h4 class="font-weight-bold">Semillas</h4>
                        <p class="font-weight-bold">Servicio de Cribado</p>
                        <p class="lead">El sistema de cribado, a través de aspectos de alta tecnología e innovadores
                            garantiza una correcta selección y limpieza de las semillas y granos que se empacan.</p>
                        <p class="font-weight-bold">Servicio de Envasado</p>
                        <p class="lead">Productos de alta calidad envasados, así como servicio de empacadora que
                            cuenta
                            con procesos y estándares modernos, seguros y saludables, para cumplir con los
                            requerimientos del consumidor.</p>
                        <p class="font-weight-bold">Comercialización de Granos y Semillas</p>
                        <p class="lead">Compra/Venta, exportación de granos y semillas para consumo humano, animal e
                            industrial.</p>
                        <p class="font-weight-bold">Fertilizantes</p>
                        <p class="lead">Venta de fertilizantes de alta calidad.</p>
                        <!--<label>Example label</label>-->
                        <hr class="my-4">
                        <h4 class="font-weight-bold">Contacto</h4>
                        <p class="lead"><i class="far fa-address-card"></i> María de las Nieves Velázquez</p>
                        <p class="lead"><i class="far fa-envelope"></i> maria.velazquez84@hotmail.com</p>
                        <p class="lead"><i class="far fa-phone-square-alt"></i> 498-935-51-57</p>
                        <hr class="my-4">
                        <h4 class="font-weight-bold">¿Quiénes somos?</h4>
                        <p class="lead">Grupo Real de Nieves, es una empresa Mexicana adaptada a los requerimientos
                            de los clientes, mejoras en la competitividad, desarrollo y sustentabilidad a la industria.
                            Especializada en la comercialización, cribado y empacado de productos básicos.
                        </p>
                        <hr class="my-4">
                        <p class="lead">El principal objetivo es ser una empresa líder, cubriendo las expectativas
                            del cliente con una mayor calidad en el servicio.</p>
                        <hr class="my-4">
                        <h4 class="font-weight-bold">Misión</h4>
                        <p class="lead">Empacar el producto de mayor calidad, susceptible de comercialización, buscando
                            la satisfacción del cliente y el liderazgo en el mercado, y ofrecer el servicio de
                            empacadora
                            de granos a productores.
                        </p>
                        <h4 class="font-weight-bold">Visión</h4>
                        <p class="lead">Ser una empresa que busca la excelencia a través de aspectos humanos y
                            tecnológicos para
                            fomentar la
                            calidad en el empacado de granos y semillas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</center>
<br>
<center>
    <div class="justify-content">
        <div class="col-md-15 offset-md">
            <div class="card card-body text-start">
                <div class="jumbotron mt-4">
                    <div class="card-body">
                        <h4 class="font-weight-bold">Valores</h4>
                        <p class="lead">La ética de trabajo de la empresa incluye los siguientes valores: Sociales,
                            morales, económicos y ecológicos.</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-success">Responsabilidad</li>
                            <li class="list-group-item list-group-item-success">Solidaridad</li>
                            <li class="list-group-item list-group-item-success">Privacidad</li>
                            <li class="list-group-item list-group-item-success">Honestidad</li>
                            <li class="list-group-item list-group-item-success">Respeto</li>
                            <li class="list-group-item list-group-item-success">Calidad</li>
                            <li class="list-group-item list-group-item-success">Competitividad</li>
                            <li class="list-group-item list-group-item-success">Productividad</li>
                            <li class="list-group-item list-group-item-success">Comerciabilidad</li>
                            <li class="list-group-item list-group-item-success">Conservación</li>
                            <li class="list-group-item list-group-item-success">Seguridad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
<br>
<!-- CONSTRUCCIÓN -->
<center>
    <div id="build" class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card-body">
                <!--<h5 class="card-title">Visualización de imágenes</h5>-->
                <img src="/img/Realnieves2.jpeg" class="img-thumbnail popup" width="600">
                <br>
                <!--<p class="font-weight-bold" align="right">imágen(es)</p>-->
            </div>
        </div>
    </div>
</center>
<center>
    <div class="justify-content">
        <div class="col-md-15 offset-md">
            <div class="card card-body text-start">
                <div class="jumbotron mt-4">
                    <div class="card-body">
                        <h4 class="font-weight-bold">Construcción</h4>
                        <p class="font-weight-bold">Servicio de Construcción</p>
                        <p class="lead">Infraestructura y mano de obra necesaria para edificar cualquier tipo o forma de
                            construcción.</p>
                        <p class="font-weight-bold">Renta de Maquinaria</p>
                        <p class="lead">Renta de maquinaria y equipo para construcción.</p>
                        <p class="font-weight-bold">Levantamientos Topográficos</p>
                        <p class="lead">Levantamiento de datos para la edificación de estructuras.</p>
                        <!--<label>Example label</label>-->
                        <hr class="my-4">
                        <h4 class="font-weight-bold">Contacto</h4>
                        <p class="lead"><i class="far fa-address-card"></i> Alexis Mendoza</p>
                        <p class="lead"><i class="far fa-envelope"></i> alexismendozarmz@gmail.com</p>
                        <p class="lead"><i class="far fa-phone-square-alt"></i> 498-109-89-24</p>
                        <hr class="my-4">
                        <h4 class="font-weight-bold">¿Quiénes somos?</h4>
                        <p class="lead">Somos una empresa constructora dedicada al desarrollo de proyectos y
                            construcciones, en el ámbito público y privado, con los más exigentes estándares, en
                            seguridad, calidad y puntualidad.
                        </p>
                        <hr class="my-4">
                        <h4 class="font-weight-bold">Misión</h4>
                        <p class="lead">Satisfacer las necesidades de nuestros clientes por medio de la exigencia en el
                            control de calidad de nuestros productos terminados y plazos fijados.
                        </p>
                        <h4 class="font-weight-bold">Visión</h4>
                        <p class="lead">Ser una empresa líder en construcción, reconocida por su calidad,
                            responsabilidad y capacidad de crear valor y de innovar para dar respuesta a las nuevas
                            necesidades sociales.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</center>
<br>
<center>
    <div class="justify-content">
        <div class="col-md-15 offset-md">
            <div class="card card-body text-start">
                <div class="jumbotron mt-4">
                    <div class="card-body">
                        <h4 class="font-weight-bold">Valores</h4>
                        <p class="lead">Nuestros valores son:</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-danger">Responsabilidad</li>
                            <li class="list-group-item list-group-item-danger">Compromiso</li>
                            <li class="list-group-item list-group-item-danger">Confianza</li>
                            <li class="list-group-item list-group-item-danger">Servicio al cliente</li>
                            <li class="list-group-item list-group-item-danger">Trabajo en equipo</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>