.bg-primary {
    transition: all 1s ease;
}

.bg-danger {
    transition: all 1s ease;
}

.bg-success {
    transition: all 1s ease;
}

.bg-info {
    background-color: rgb(33, 33, 206) !important;
    transition: all 1s ease;
}

body {
    background-image: url("/img/Wallpaper_Real.jpg");
    background-position: center 1%;
    background-attachment: unset;
    background-size: auto;
    height: 100%;
    width: 100%;
}

img {
    filter: opacity(0.99);
}

div {
    filter: opacity(0.98);
}