<nav id="menu" class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Real de Nieves</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#conv" id="conveyor" class="nav-link">Transportadora</a>
                </li>
                <li class="nav-item">
                    <a href="#se" id="seed" class="nav-link">Semillas</a>
                </li>
                <li class="nav-item">
                    <a href="#build" id="building" class="nav-link">Construcción</a>
                </li>
            </ul>
        </div>
    </div>
</nav>