<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Real de Nieves</title>
    <!-- BOOTSTRAP 4 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/united/bootstrap.min.css"
        integrity="sha384-JW3PJkbqVWtBhuV/gsuyVVt3m/ecRJjwXC3gCXlTzZZV+zIEEl6AnryAriT7GWYm" crossorigin="anonymous">
    <!-- FONTS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    {{>navigation}}

    <main class="conta p-5">{{{body}}}</main>

</body>
<!-- FIRE BASE SCRIPT -->
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/8.6.1/firebase-app.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/8.6.1/firebase-analytics.js"></script>
<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>

<!-- BOOTSTRAP 4 SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
    crossorigin="anonymous"></script>

<script>
    $(window).scroll(function () {
        if ($("#menu").offset().top >= 550 && $("#menu").offset().top < 2600) {
            $("#menu").addClass("bg-info")
            $("#conveyor").addClass("active")
        } else {
            $("#menu").removeClass("bg-info")
            $("#conveyor").removeClass("active")
        }
    })
    $(window).scroll(function () {
        if ($("#menu").offset().top >= 2600 && $("#menu").offset().top < 5280) {
            $("#menu").addClass("bg-success")
            $("#seed").addClass("active")
        } else {
            $("#menu").removeClass("bg-success")
            $("#seed").removeClass("active")
        }
    })
    $(window).scroll(function () {
        if ($("#menu").offset().top >= 5280) {
            $("#menu").addClass("bg-danger")
            $("#building").addClass("active")
        } else {
            $("#menu").removeClass("bg-danger")
            $("#building").removeClass("active")
        }
    })
</script>

</html>